table#bweb {
  text-transform: capitalize;
}

table#bweb thead .sorting {
  background-image: url(https://cdn.datatables.net/1.10.16/images/sort_both.png);
}
table#bweb thead .sorting_asc {
  background-image: url(https://cdn.datatables.net/1.10.16/images/sort_asc.png);
}
table#bweb thead .sorting_desc {
  background-image: url(https://cdn.datatables.net/1.10.16/images/sort_desc.png);
}
table#bweb thead .sorting_asc_disabled {
  background-image: url(https://cdn.datatables.net/1.10.16/images/sort_asc_disabled.png);
}
table#bweb thead .sorting_desc_disabled {
  background-image: url(https://cdn.datatables.net/1.10.16/images/sort_desc_disabled.png);
}
#bweb td, #bweb th {
  border: none;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#bweb td {
  overflow: hidden;
  border-top: 1px solid rgb(221, 221, 221);
}
#bweb td:nth-child(7), #bweb > tfoot th:nth-child(7) {
  text-transform: uppercase; 
}
#bweb th {
  border-bottom: 1px solid rgb(17, 17, 17);
  vertical-align: bottom;
}

#bweb select,
#bweb .chosen-container {
  width: -webkit-fill-available;
  width: -moz-available;
}

#bweb_filter {
  margin-bottom:4px;
}

table#bweb .search-choice-close {
  background: url(https://harvesthq.github.io/chosen/chosen-sprite.png) -42px 1px no-repeat;
}