h2 {
  margin-left: 4px;
}
table#bweb {
  text-transform: capitalize;
}
table#bweb thead .sorting {
  background-image: url(https://cdn.datatables.net/1.10.18/images/sort_both.png);
}
table#bweb thead .sorting_asc {
  background-image: url(https://cdn.datatables.net/1.10.18/images/sort_asc.png);
}
table#bweb thead .sorting_desc {
  background-image: url(https://cdn.datatables.net/1.10.18/images/sort_desc.png);
}
table#bweb thead .sorting_asc_disabled {
  background-image: url(https://cdn.datatables.net/1.10.18/images/sort_asc_disabled.png);
}
table#bweb thead .sorting_desc_disabled {
  background-image: url(https://cdn.datatables.net/1.10.18/images/sort_desc_disabled.png);
}
#bweb td, #bweb th {
  border: none;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#bweb td {
  overflow: hidden;
  border-top: 1px solid rgb(221, 221, 221);
}
#bweb th {
  border-bottom: 1px solid rgb(17, 17, 17);
  vertical-align: bottom;
  background-color: initial;
}

#bweb select,
#bweb .chosen-container {
  width: -webkit-fill-available;
  width: -moz-available;
}

#bweb_filter {
  margin-bottom:4px;
}

table#bweb .search-choice-close {
  background: url(https://harvesthq.github.io/chosen/chosen-sprite.png) -42px 1px no-repeat;
}

@keyframes opacity {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.loading span {
  animation-name: opacity;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.loading span:nth-child(1) { animation-delay: 100ms; }
.loading span:nth-child(2) { animation-delay: 300ms; }
.loading span:nth-child(3) { animation-delay: 500ms; }

.loading-slow span {
  opacity: 0;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.loading-slow span:nth-child(1) { animation-delay: 100ms; }
.loading-slow span:nth-child(2) { animation-delay: 300ms; }
.loading-slow span:nth-child(3) { animation-delay: 500ms; }
.loading-slow span:nth-child(4) { animation-delay: 700ms; }
.loading-slow span:nth-child(5) { animation-delay: 900ms; }
.loading-slow span:nth-child(6) { animation-delay: 1100ms;}
.loading-slow span:nth-child(7) { animation-delay: 1300ms;}
.loading-slow span:nth-child(8) { animation-delay: 1500ms;}
.loading-slow span:nth-child(9) { animation-delay: 1700ms;}
.loading-slow span:nth-child(10){ animation-delay: 1900ms;}

.nav-item {
  font-size: 14px;
  display: block;
  float: left;
  padding: 5px 10px;
  color: #0099ff;
  text-decoration: none;
  background: #f6f6f6;
  font-weight: bold;
  line-height: normal;
  outline: none;
}
.nav-item.toggled {
  background: #0099ff; 
  color: #fff;
}
input.nav-item {
  background-image: linear-gradient(rgb(238, 238, 238) 1%, rgb(255, 255, 255) 15%);
  border-top: 0;
  border-bottom: 0;
  font-weight:normal;
  color: initial;
}
button.nav-item {
  border: none;
  background: #f6f6f6;
  font-weight: bold;
}
button.nav-item:hover {
  background: #0099ff; 
  color: #fff;
  cursor: pointer;
}
form.nav-item {
  display: initial;
  margin: initial;
  padding: 0px;
}
span.nav-item {
  font-weight: normal;
  font-style:italic;
}

.good-txt {
  color: #47a447;
}
.bad-txt {
  color: #992d2d;
}

div#content {
  padding:0px;
}
#bweb tr.rowcolor-yellow {
  background-color: #fcff9e;
}
#bweb tr.rowcolor-blue {
  background-color: #aaeeff;
}
#bweb tr.rowcolor-orange {
  background-color: #facb8e;
}
#bweb tr.rowcolor-header {
  background-color: #f6f6f6;
}